<% case movie.id %>
	<% when 1 then %>
		<%= image_tag "image/movie1.jpg" %>
		<p class="authority">* 公式titterより転載</p>
	<% when 2 then %>
		<%= image_tag "image/movie2.jpg" %>
		<p class="authority">* 公式titterより転載</p>
<% end %>