<div class="container">
	<div id="slick">
	  <div class="slide1"></div>
	  <div class="slide2"></div>
	  <div class="slide3"></div>
	</div>
	<div class="news"></div>
    <div class="row">
       	<div class="col-lg-4"></div>
       	<div class="col-lg-8"></div>
    </div>
</div>
