// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn a {
	color: white;
}
.btn a:hover {
	color: white;
	text-decoration: none;
}

p.title-link {
	a {
		color: black;
	}
	a:hover {
		color: black;
	}
}

.col-lg-12 {
	.navbar {
		width: 90%;
		margin: 10px auto;

		.margin-top {
			margin-top: 5px;

			.navbar-header {
				a.navbar-brand {
					margin-left: 20px;
				}
			}

			.navbar-collapse {

				ul.navbar-nav {

					li {
						color: white;
						margin-top: 5px;
						margin-left: 15px;
						padding: 10px 25px;
					}
				}

				.navbar-form {
					margin-left: 30px;

					input#search {
						width:200px;
						height:30px;
					}
				}
			}
		}
	}

	.all-movie {
		#accordion {
			width: 80%;
			margin: 10px auto;

			.panel {
				margin-bottom: 30px;

				.panel-body {
					background-color: black;
				}
			}
		}
	}

	.country-movie {
		display: none;

		.film-box {
			width: 50%;
			float: left;

			.film-group {
				margin-top: 10px;

				img {
					width: 200px;
					height: 200px;
					border-radius: 50%;
					float: left;
					margin-left: 30px;
				}
				p.authority {
					display: none;
				}

				.film-content {
					float: left;
					padding: 120px 0 0 20px;
				}
			}
		}
	}

	.category-movie {
		display: none;

		.film-group {

			.film {
				float: left;

				a {
					img {
						width: 200px;
						height: 200px;
						border-radius: 50%;
						margin-left: 30px;
					}
					p.authority {
						display: none;
					}
				}

				p {
					padding-left: 60px;
				}
			}
		}
	}

	.film {
		position: relative;

		a.hover-link {
			display: none;
			position: absolute;
			top: 0;
			left: 30px;

			.hover-image {
				border-radius: 50%;
				width: 200px;
				height: 200px;
				background-color: rgba(51,204,255,0.8);

				i {
					position: absolute;
					top:60px;
					left:60px;
					color: white;
				}
			}
		}
	}

	.ranking-box {
		margin-top: 50px;

		.ranking {
			width: 70%;
			margin: 0 auto;

			h2, td {
				color: yellow;
			}
		}
	}
}
span.small-botton {
	padding: 0 5px;
}

.col-lg-4 {
	img {
		width:320px;
		height: 350px;
	}

	.authority {
		color: gray;
	}
}

.col-lg-8 {
	.movie-content {

		p {
			color: white;

			span {
				padding: 0 5px;
			}
		}

		p.movie-caption {
			border: 3px solid gray;
			border-radius: 4px;
			padding: 20px;
		}
	}
}

.movie-box {
	position: relative;
	margin: 40px 0;


	.film-image{
		width: 1000px;
		margin: 0 auto;

		img {
			width: 1000px;
			height: 500px;
		}
	}

	.youtube {
		width: 640px;
		position: absolute;
		top: 70px;
		left: 250px;
	}
}
